<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preload" href="/static/resources/font/HYWH-65W.woff" as="font" type="font/woff">
    <link rel="preload" href="/static/resources/font/NZBZ.woff" as="font" type="font/woff">
    <link rel="preload" href="/static/resources/font/tttgbnumber.woff" as="font" type="font/woff">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/characterBasic.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/character.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/property.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/artifact.css"/>
    <title>圣遗物</title>
</head>
<body>
<div>
    <form method="post" action="/artifact" target="_blank">
        <div class="artis" style="display: inline-block; vertical-align: top; width: auto;">
            <div class="item arti">
                <div class="head">
                    <strong>属性权重</strong>
                </div>
                <ul class="detail attr">
                    {{range .PropertyList}}
                    <li>
                        <span class="title">{{.Desc}}</span>
                        <span class="val">
                        <label>
                            <input name="PropertyWeight[{{.Key}}]" type="number" min="0" max="100">
                        </label>
                        </span>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="artis" style="display: inline-block; vertical-align: top; width: auto;">
            <div class="item arti">
                <div class="head" style="display: flex">
                    <label>
                        <input name="Level" type="number" min="1" max="20" value="20" style="display: inline-block">
                        <select name="Type" style="display: inline-block">
                            <option selected disabled hidden>部位</option>
                            {{range .Header}}
                            <option value="{{.Type}}" style="display: inline-block">{{.Name}}</option>
                            {{end}}
                        </select>
                    </label>
                </div>
                <ul class="detail attr">
                    <li class="arti-main">
                    <span class="title">
                        <label>
                            <select name="MainPropKey">
                                <option selected disabled hidden>主词条</option>
                                {{range .MainProp}}
                                <option value="{{.Key}}">{{.Desc}}</option>
                                {{end}}
                            </select>
                        </label>
                    </span>
                        <span class="val">
                        <label>
                            <input name="MainPropValue" type="text">
                        </label>
                    </span>
                    </li>
                    {{range .AppendPropCount}}
                    <li>
                    <span class="title">
                        <label>
                            <select name="AppendPropKey">
                                {{range $.AppendProp}}
                                <option value="{{.Key}}">{{.Desc}}</option>
                                {{end}}
                            </select>
                        </label>
                    </span>
                        <span class="val">
                        <label>
                            <input name="AppendPropValue" type="text">
                        </label>
                    </span>
                    </li>
                    {{end}}
                </ul>
                <div class="head">
                    <button type="submit">提交</button>
                </div>
            </div>
            {{if .Artifact.Name}}
            {{template "artifactItem" .Artifact}}
            {{end}}
        </div>
    </form>
</div>
</body>
</html>