<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preload" href="/static/resources/font/HYWH-65W.woff" as="font" type="font/woff">
    <link rel="preload" href="/static/resources/font/NZBZ.woff" as="font" type="font/woff">
    <link rel="preload" href="/static/resources/font/tttgbnumber.woff" as="font" type="font/woff">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/characterBasic.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/character.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/property.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/artifact.css"/>
    <title>{{.Name}}</title>
</head>
<body class="elem-{{.Element}}">
<div class="container elem-bg" id="container">
    <!--角色基础信息-->
    <div class="basic">
        <div class="main-pic"
             style="background-image:url(/static/resources/character/{{.Name}}/imgs/splash.webp)">
        </div>
        <div class="detail">
            <div class="char-name">{{.Name}}</div>
            <div class="char-lv">UID {{.Uid}} - Lv.{{.Level}}
                <span class="cons cons-{{.Constellation}}">{{.Constellation}}命</span>
            </div>
            <div>
                <!--角色战斗天赋-->
                <div class="char-talents">
                    {{range .TalentList}}
                    <div class="talent-item">
                        <div class="talent-icon {{if gt .Level .BaseLevel}}talent-plus{{end}} {{if ge .BaseLevel 10}}talent-crown{{end}}">
                            {{if eq .Key "a"}}
                            <div class="talent-icon-img"
                                 style="background-image:url(/static/resources/icons/atk-{{$.WeaponType}}.webp)"></div>
                            {{else}}
                            <div class="talent-icon-img"
                                 style="background-image:url(/static/resources/character/{{$.Name}}/icons/cons-{{.Constellation}}.webp)"></div>
                            {{end}}
                            <span>{{.Level}}</span>
                        </div>
                    </div>
                    {{end}}
                </div>
                <!--角色战斗属性-->
                <ul class="char-prop">
                    {{range .PropertyList}}
                    <li>
                        <div class="icon"><i class="i-{{.Key}}"></i></div>
                        <div class="title">{{.Desc}}</div>
                        <div class="weight">
                            {{if .Weight}}
                            <span class="{{if ge .Weight 80}} gold {{else}} normal {{end}}">{{.Weight}}</span>
                            {{end}}
                        </div>
                        <div class="value">
                            {{.Value}}
                        </div>
                        <div class="value2">
                            {{if .Base}}
                            <span class="base">{{.Base}}</span>
                            <span class="plus">+{{.Plus}}</span>
                            {{end}}
                        </div>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
        <!--角色命座-->
        <div class="char-cons">
            {{range .ConstellCount}}
            <div class="cons-item">
                <div class="talent-icon {{if gt . $.Constellation}}off{{end}}">
                    <div class="talent-icon-img"
                         style="background-image:url(/static/resources/character/{{$.Name}}/icons/cons-{{.}}.webp)"></div>
                </div>
            </div>
            {{end}}
        </div>
        <div class="data-info">
            <span>数据源: {{.Version.DataSource}}</span>
            <span class="time">Game Version: {{.Version.GameVersion}}</span>
            <span class="time">{{.UpdateAt}}</span>
        </div>
    </div>
    <div class="cont">
        <div class="cont-footer dmg-desc" style="text-align: center">
            {{range .ArtifactStat.StatNumber}}
            {{if eq .Key "总计"}}
            {{.Key}}<strong>{{.Number}}</strong>词条
            {{else}}
            | {{.Key}}<strong>{{.Number}}</strong>
            {{end}}
            {{end}}
        </div>
    </div>
    <!--武器+圣遗物列表-->
    <div class="artis">
        <div class="artis-weapon">
            <div class="item weapon">
                <div class="img"
                     style="background-image:url(/static/resources/weapon/{{.WeaponType}}/{{.Weapon.Name}}/icon.webp)"></div>
                <div class="head">
                    <strong>{{.Weapon.Name}}</strong>
                    <div class="star star-{{.Weapon.Quality}}"></div>
                    <span>Lv.{{.Weapon.Level}} <span
                            class="affix affix-{{.Weapon.Refinement}}">精{{.Weapon.Refinement}}</span></span>
                </div>
            </div>
            <div class="item arti-stat">
                <div class="arti-class-title">{{.ArtifactStat.Desc}}</div>
                <div class="arti-stat-ret">
                    <div><strong
                            class="mark-{{.ArtifactStat.Rating}}">{{.ArtifactStat.Rating}}</strong><span>圣遗物评级</span>
                    </div>
                    <div><strong>{{.ArtifactStat.Score}}</strong><span>圣遗物总分</span></div>
                </div>
            </div>
        </div>
        {{range .ArtifactList}}
        {{template "artifactItem" .}}
        {{end}}
    </div>
    {{template "copyright" .Version}}
</div>
</body>
</html>
