<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preload" href="/static/resources/font/HYWH-65W.woff" as="font" type="font/woff">
    <link rel="preload" href="/static/resources/font/NZBZ.woff" as="font" type="font/woff">
    <link rel="preload" href="/static/resources/font/tttgbnumber.woff" as="font" type="font/woff">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/characterBasic.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/character.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/property.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css"/>
    <title>{{.Uid}}</title>
</head>
<body>
<div class="container elem-bg" id="container" style="background-image:url(/static/resources/bg/bg-sr.jpg)">
    <div class="head-box">
        <div class="title">角色列表
            <div class="label">UID:{{.Uid}}</div>
        </div>
        {{if .UpdateMsg}}
        <div class="label">{{.UpdateMsg}}</div>
        {{end}}
    </div>
    <div class="cont no-rank">
        <div class="char-list">
            <div class="char-item">
                <div class="item-icon char-icon star1">
                    <form style="display: none" id="update" method="post" action="/user/{{.Uid}}/update"></form>
                    <a style="text-decoration: none" href="javascript:document.getElementById('update').submit()">
                    <span class="img"
                          style="background-image:url(/static/resources/cont/logo.png)"></span>
                    </a>
                </div>
                <span class="name">更新面板</span>
            </div>
            <div class="char-item">
                <div class="item-icon char-icon star1">
                    <a style="text-decoration: none" href="/logout">
                    <span class="img"
                          style="background-image:url(/static/resources/cont/logo.png)"></span>
                    </a>
                </div>
                <span class="name">切换账号</span>
            </div>
            {{range .CharacterList}}
            <div class='char-item {{if .UpdatedRecently}}{{"new-char"}}{{end}}'>
                <div class="item-icon char-icon star{{.Quality}}">
                    <a style="text-decoration: none" target="_blank" href="/user/{{$.Uid}}/character/{{.Cid}}">
                    <span class="img"
                          style="background-image:url(/static/resources/character/{{.Name}}/imgs/face-q.webp)"></span>
                    </a>
                </div>
                <span class="name">{{.Name}}<span
                        class="cons cons-{{.Constellation}}">{{.Constellation}}</span></span>
            </div>
            {{end}}
        </div>
        <div class="cont-footer">
            {{if .NewUpdate}}
            <span class="new-tip">本次更新角色</span>
            {{else}}
            <span>更新时间: {{.UpdateAt}}</span>
            {{end}}
        </div>
    </div>
</div>
</body>
</html>